<main>
  <h1>Recommended for you</h1>
  <section>
    <app-recommended-movie
      [movieYear]="2019"
      [movieType]="'Movie'"
      [movieRating]="'PG'"
      [movieName]="'The Great Lands'"
      [movieImage]="'assets/recommended/the-great-lands.png'"
    ></app-recommended-movie>
    <app-recommended-movie
      [movieYear]="2019"
      [movieType]="'TV Series'"
      [movieRating]="'PG'"
      [movieName]="'The Diary'"
      [movieImage]="'assets/recommended/the-diary.png'"
    ></app-recommended-movie>
    <app-recommended-movie
      [movieYear]="2017"
      [movieType]="'Movie'"
      [movieRating]="'18+'"
      [movieName]="'Earth\'s Untouched'"
      [movieImage]="'assets/recommended/earths-untouched.png'"
    ></app-recommended-movie>
    <app-recommended-movie
      [movieYear]="2019"
      [movieType]="'Movie'"
      [movieRating]="'E'"
      [movieName]="'No Land Beyond'"
      [movieImage]="'assets/recommended/no-land-beyond.png'"
    ></app-recommended-movie>
  </section>
</main>
