<main>
  <img src="assets/red-logo.svg" alt="" />
  <section>
    <form>
      <h1>Sign Up</h1>
      <div class="email-container">
        <input type="email" placeholder="Email address" />
        <p>Can't be empty</p>
      </div>
      <hr id="email-hr" />
      <div class="password-container">
        <input type="password" placeholder="Password" />
        <p>Can't be empty</p>
      </div>
      <hr id="email-hr" />
      <div class="password-container">
        <input type="password" placeholder="Repeat Password" />
        <p>Can't be empty</p>
      </div>
      <hr id="email-hr" />
      <button>Login to your account</button>
    </form>
    <footer>
      <p>Already have an account?</p>
      <p>Sign Up</p>
    </footer>
  </section>
</main>
