header{
    margin-top: 34px;
}

h1{
    font-weight: 200;
}

section{
    margin-top: 38px;
    padding-right: 36px;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    display: grid;
    padding-bottom: 69px;
}