<main>
  <h1>Trending</h1>
  <section>
    <app-trending-movie
      [movieYear]="2019"
      [movieType]="'Movie'"
      [movieRating]="'PG'"
      [movieName]="'Beyond Earth'"
      [movieImage]="'assets/trending/movies/beyond-earth.png'"
    ></app-trending-movie>
    <app-trending-movie
      [movieYear]="2021"
      [movieType]="'Movie'"
      [movieRating]="'PG'"
      [movieName]="'Bottom Gear'"
      [movieImage]="'assets/trending/movies/bottom-gear.png'"
    ></app-trending-movie>
    <app-trending-movie
      [movieYear]="2019"
      [movieType]="'TV Series'"
      [movieRating]="'E'"
      [movieName]="'Undiscovered Cities'"
      [movieImage]="'assets/trending/movies/undiscovered-cities.png'"
    ></app-trending-movie>
    <app-trending-movie
      [movieYear]="2021"
      [movieType]="'Movie'"
      [movieRating]="'18+'"
      [movieName]="'1998'"
      [movieImage]="'assets/trending/movies/1998.png'"
    ></app-trending-movie>
  </section>
</main>
