h1{
    margin-top: 34px;
    font-weight: 200;
}

main{
}

section{
    height: 230px;
    margin-top: 25px;
    width: 100%;
    display: flex;
    gap: 40px;
    padding-right: 36px;
}

@media (max-width: 861px){
    main{
        padding-left: 25px;
    }
}

@media (max-width: 660px){
    section{
       gap: 16px; 
    }
}

@media(max-width: 450px){
    h1{
       margin-top: 10px;
       font-size: 20px;
    }

    main{
        padding-left: 16px;
    }

    section{
        margin-top: 16px;
        height:auto
    }
}
