.header-container{
    padding-top: 64px;
    width: calc(100vw - 164px);
    padding-right: 36px;
}

header{
    min-height: 32px;
    display: flex;
}


header > input{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 24px;
    color: var(--pure-white);
    font-weight: 200;
    font-style: normal;
    line-height: normal;
    margin-left: 24px;
    caret-color: var(--red);
    width: 100%;
}

header > input::placeholder{
    opacity: 0.4979;
}

header > input:focus{
    outline: none;
    border: none;
}

header > img{
    height: 32px;
    width: 32px;
}

#bottom-hr{
    margin-top: 15px;
    margin-left: 56px;
    border-width: 1px;
    border-color: var(--greyish-blue);
}

/* */

@media (max-width: 861px){
    .header-container{
        padding-top: 10px;
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
    }
}

@media (max-width: 450px) {
    .header-container{
        padding-top: 24px;
        padding-left: 16px;
        padding-right: 16px;
    }
    header > img{
        width: 24px;
        height: 24px;
    }
    header > input{
        margin-left: 16px;
        font-size: 16px;
    }
    header{
        align-items: center;
    }
    #bottom-hr{
        margin-left: 40px;
    }
}